*.log
*.DS_Store
*.pyc

/tmp
/lib/
/logs
/precompile
/javadoc
/nbproject
/.idea
/node_modules

/SGCG

BandOfMe.iml
BandOfMe.ipr
BandOfMe.iws

/modules/
/.idea/
/test-result/

.classpath
.project
.settings/
/eclipse/
/precompiled/
/BandOfMe/nbproject/private
