// colors

$color-1: #2F4550; 
$color-2: #B8DBD9; 
$color-3: #FFFFFF; 
$nav-blue: #424858;
$bg: #252831; 
$text-reg: #BeBeBe;

// neon colors
$blue: #21A7DA;
$green: #2CBE8D;
$red: #E64759;
$purple: #9F85FF;
$yellow: #E4D836;
$orange: #ff6600;
$pink: #c7254e;


// fonts 

$primary-font: 'Hind', sans-serif;
$secondary-font: 'Hind', sans-serif;

// header size

$header-height-small: 60px;
$header-height: 80px;

$secondary-nav-height-small: 50px;
$secondary-nav-height: 70px;