// colors

$color-1: #2F4550; 
$color-2: #B8DBD9; 
$color-3: #CCCCCC; 
$color-4: #F4F4F9; 

// fonts 

$primary-font: 'Hind', sans-serif;
$secondary-font: 'David Libre', serif;

// header size

$header-height-small: 60px;
$header-height: 80px;

$secondary-nav-height-small: 50px;
$secondary-nav-height: 70px;